#header {
  margin-top: 1rem;
  display:flex;
  padding: 0 1.75rem;
  justify-content: space-between;

  .logo {
    display:flex;
    width: 100%;
    gap: 0.5rem;

    img {
      max-height: 2.5rem;
    }
    a {
      text-decoration: none;
      font-size:1.3125rem;
      font-weight:500;
      color: #04648E;
    }
  }

  nav {
    display: flex;
    gap: 1rem;    
    a {
      text-decoration: none;
      color: #008AC6;
    }

  }
}